body {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}

#rootContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 800px;
    margin: 40px auto;
}

#inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    width: 500px
}

#inputDivUserInput {
    font-family: 'Nerko One', cursive;
    font-size: 1.6em;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    outline: none;
}

#infoDiv {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    font-family: 'Nerko One', cursive;
    font-size: 2em;
}

#infoDivLocationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 150px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(96, 255, 242);
    font-size: 2.1em;
}

#infoDivOther {
    display: flex;
    flex-direction: row;
    height: 250px;
    border-radius: 0 0 0 10px;
}

#infoDivTemperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    font-size: 3em;
    background-color: rgb(5, 216, 198);
    border-radius: 0 0 0 10px;
}

#infoDivDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    background-color: rgb(19, 134, 125);
    border-radius: 0 0 10px 0;
}

.hidden {
    display: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}